<!DOCTYPE html>
<html>
<head>
  <title>A Game</title>
</head>
<body>
    <form action='/madlib'>
    <label>A Madlibs Game</label></br>
     <label>Enter a person: </label><input type="text" name = "person"></br>

     <label>Enter a color: <input type="text" name="color"></label></br>

     <label>Enter an adjective: <input type="text" name="adjective"></label></br>

     <label>Enter a noun: </label><input type="text" name="noun"></br>

     <label>Enter a place: </label>
     <input type="radio" name = "place" value= "Hawaii">Hawaii
     <input type="radio" name = "place" value= "San Francisco">San Francisco
     <input type="radio" name = "place" value= "Greece">Greece
     <input type="radio" name = "place" value= "Japan">Japan</br>

     <label>Enter a emotion: </label>
     <input type="checkbox" name = "emotion" value= "ecstatic">Ecstatic
     <input type="checkbox" name = "emotion" value= "melancholy">Melancholy
     <input type="checkbox" name = "emotion" value= "angry">Angry</br>
     

     <label>Choose a method of transportation: </label>
     <select name="transport_type"
     <option value="hybrid_car">Hybrid Car</option>
     <option value="city_bus">City Bus</option>
     <option value="space_ship">Space Ship</option>
     <option value="Bicycle">Bicycle</option>     
     </select>

     <input type="submit">
 



 </form>
</body>
</html>